#pokemons_list {
    margin-top: 15px;
    margin-bottom: 15px;
}
  
.pokemon-card {
    margin-top: 10px;
}

.card-img img {
    margin: auto;
}
  
.card-id {
    background-color: orange;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 11px;
    line-height: 1.1;
    margin: auto;
    width: calc(35px + 0.5vw);
}
  
.card-name {
    font-weight: 400;
    margin-bottom: 0px;
}
  
.card-type {
    color: #969696;
    font-size: 13px;
}