#search_bar {
    margin-top: 15px;
    margin-bottom: 15px;
}

.inner-addon {
    position: relative;
}

.inner-addon .search-icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #5c5c5c;
    left:  0px;
}

.inner-addon input  {
    padding-left:  30px;
}