#detail_view {
    margin-top: 15px;
}

.title {
    font-weight: 700;
    font-size: 16px;
}

.card {
    padding: 15px 0px;
}

.card .pokeball {
    padding: 40px;
    margin: auto;
}

.profile table td:first-child {
    padding-right: 5px;
    text-align: right;
    text-transform: capitalize;
}

.profile .bar-back {
    background-color: #d8d8d8;
    border-radius: 3px;
    height: 15px;
}

.profile .bar-front {
    height: 100%;
    width: 50%;
    background: repeating-linear-gradient(-55deg, #5faf3d, #5faf3d 2px, #6dcc42 2px, #6dcc42 4px );
    border-radius: 3px 0px 0px 3px;
    vertical-align: middle;
    float: left;
}

.profile .persentage {
    font-size: 11px;
    line-height: 1.3;
    color: #fff;
    padding-left: 5px;
    font-weight: 700;
    text-shadow: #474747 0px 1px 12px;
}

.details hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
    margin: 10px 0px;
}

.details table {
    font-size: 11px;
}

.details table td:first-child {
    font-weight: 600;
    width: 50%;
    text-align: left;
}

.non-padding {
    padding: 0px;
}