#detail_view {
    margin-top: 15px;
}

.title {
    font-weight: 700;
    font-size: 16px;
}

.card {
    padding: 15px 0px;
}

.card .pokeball {
    padding: 40px;
    margin: auto;
}

/* .profile img {
    max-width: 130%;
    width: 130%;
} */

.details hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
    margin: 10px 0px;
}

.details table {
    font-size: 9px;
}

.details table td:first-child {
    font-weight: 600;
    width: 50%;
}